html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: Avenir Next, YuGothic, sans-serif;
  margin: 0;
  padding: 0;
}

input {
  display: block;
}

ul {
  font-size: 1.4rem;
  line-height: 1.4;
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.header {
  background: #484444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 0 0 12px;
  width: 100%;
}

.header__brand {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 2px 0 0;
}

.header__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 7px 17px 7px 5px;
  width: 168px;
}

.header__user:hover {
  background: #555050;
}

.header__avatar {
  border-radius: 100%;
  width: 32px;
  overflow: hidden;
}
.header__avatar img {
  width: 100%;
}

.header__name {
  color: #fff;
  font-size: 1.4rem;
  padding: 0 0 0 10px;
}

.nav {
  background: #555050;
  position: absolute;
  top: 46px;
  right: 0;
  z-index: 2;
  max-height: 0;
  min-width: 168px;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.isOpened ~ .nav {
  max-height: 60px;
}

.nav a {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.nav::before,
.nav::after {
  content: none;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 46px);
  width: 100%;
}

#messages {
  margin: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#chatBox {
  border-top: solid 2px #ddd;
  padding: 10px;
  width: 100%;
}

.chatBox__header span {
  font-weight: 600;
}

textarea {
  border: solid 1px #ddd;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
}

.post {
  display: flex;
  padding: 10px 0;
  width: 100%;
}

.post:hover {
  background: #f1f1f1;
}

.post__avatar {
  padding: 0 10px;
  width: 60px;
}
.post__avatar img {
  border-radius: 100%;
  width: 100%;
}
.post__container {
  width: calc(100% - 50px);
}

.post__header {
  margin: 0 0 5px;
}

.post__date {
  color: #aaa;
  font-size: 1.2rem;
}

.post__user {
  font-weight: 600;
  font-size: 1.4rem;
}

.post__main {
  padding: 0 10px 0 0;
}

.chatBox__footer {
  /*text-align: right;*/
}

.submitBtn {
  background: #27b;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 32px;
  text-transform: uppercase;
  padding: 0 20px;
}